.passeios-detalhes{
padding-top: 150px;
padding-bottom: 150px;
display: flex;
flex-direction: column;
gap: 100px;
}



.passeios-detalhes-box-itens{
display: flex;
gap: 40px;
justify-content: center;
align-items: center;
}



.btn-agende{
margin-top: 40px;
}


.passeios-detalhes-box-infos{
display: flex;
margin-top: 40px;
gap: 30px;
}


.passeios-detalhes-box-icones img{
width: 35px;
height: auto;
}

.passeios-detalhes-box-icones{
display: flex;
align-items: center;
gap: 8px;
}



.passeios-detalhes-box-texto{
max-width: 450px;
margin-top: 20px;
}



.passeios-detalhes-box-icones span{
color: var(--cor-4);
}


.passeios-detalhes-box-img img{
width: 500px;
}

.passeios-detalhes-bg{
position: relative;

}





@media(max-width: 970px){
    
.passeios-detalhes{
display: flex;
flex-direction: column;
gap: 100px;
align-items: center;
padding-top: 100px;
padding-bottom: 100px;
}

.passeios-detalhes-box-infos{
margin-top: 25px;
}

.btn-agende{
margin-top: 35px;
}

.passeios-detalhes-box-itens{
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: start;
}

.passeios-detalhes-box-itens.reverse {
flex-direction: column-reverse;
}
}




@media (max-width: 768px){
.passeios-detalhes{
padding-top: 60px;
padding-bottom: 80px;
gap: 80px;
}

.passeios-detalhes-box-infos{
margin-top: 20px;
}

.btn-agende{
margin-top: 30px;
}
}


@media (max-width: 480px){

.passeios-detalhes{
margin-left: 10px;
margin-right: 10px;
}

.passeios-detalhes-box-img img{
width: 400px;
}

.passeios-detalhes-box-texto{
max-width: none;
margin-top: 20px;
}
}


