.header-fixo-bg{
position: fixed;
z-index: 3;
right: 0;
top: 0;
padding-top: 15px;
padding-bottom: 15px;
display: none;
}


[data-header-fixo='header-fixo-bg-js'].btnFixoativo{
display: block;
animation: btn-hamburguer .3s forwards;
}


.header-fixo{
display: flex;
justify-content: end;
position: relative;
}


[data-menu="btn-mobile-fixo"]{
background-color: var(--cor-id-1);
box-shadow: 0 4px 0 0 black;
max-width: max-content;
border-radius: 8px;
border: 2px solid black;
cursor: pointer;
height: 45px;
width: 45px;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.3s ease-in-out;
}


[data-menu="btn-mobile-fixo"]:hover{
transform: translateY(-2px);
box-shadow: none;
}


#hamburguer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 45px;
width: 45px;
gap: 4px;
background-color:transparent;
}


.hamburguer-span{
height: 3.5px;
width: 25px;
background-color: var(--cor-4);
display: block;
transition: .3s;
position: relative;
}


[data-menu="btn-mobile-fixo"].ativarMenu .hamburguer-span:nth-child(1){
background-color: transparent;
}

[data-menu="btn-mobile-fixo"].ativarMenu .hamburguer-span:nth-child(2){
transform: rotate(135deg);
}

[data-menu="btn-mobile-fixo"].ativarMenu .hamburguer-span:nth-child(3){
transform: rotate(-135deg);
top: -7px;
}


[data-menu="list-fixo"]{
display: none;
text-align: left;
padding: 25px 20px 25px 0px;
background-color: var(--cor-4);
margin-right: 15px;
border-radius: 20px;
border: 4px solid black;
box-shadow: 0 6px 0 0 black;
width: 300px;
top: 70px;
right: 0;
z-index: 200;
position: absolute;
}

[data-menu="list-fixo"] li{
margin-bottom: 15px;
}

[data-menu="list-fixo"] li:last-child{
margin-bottom: 0px;
}

[data-menu="list-fixo"] li a{
padding: 10px 60px 10px 20px;
}

[data-menu="list-fixo"] li a:hover{
color: var(--cor-0);
}


[data-menu="list-fixo"].ativarMenu{
display: block;
}


[data-menu="list-fixo"].ativarMenu{
animation: btn-hamburguer .3s forwards;
}



@media(max-width: 480px){
[data-menu="btn-mobile-fixo"]{
height: 40px;
width: 40px;
}


[data-menu="list-fixo"]{
width: 250px;
}
}























    
