.passeios-locais-bg{
background-color: var(--cor-id-2);
}
    
.passeios-locais-title{
text-align: center;
margin-bottom: 30px;
}

.passeios-locais{
padding-top: 80px;
padding-bottom: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}

.passeios-locais-icon{
margin-bottom: 40px;
}

.passeios-local-link{
font-size: 1.5rem;
}


@media(max-width: 768px){
.passeios-locais-icon{
width: 136px;
height: auto;
}
}


@media(max-width: 550px){
.passeios-locais{
padding-left: 10px;
padding-right: 10px;
}
}


@media(max-width: 480px){
.passeios-locais{
padding-left: 15px;
padding-right: 15px;
padding-top: 40px;
padding-bottom: 40px;
}

.passeios-locais h2 br{
display: none;
}

.passeios-local-link{
font-size: 1.25rem;
}

.passeios-locais-icon{
width: 120px;
margin-bottom: 30px;
}

.passeios-locais-title{
margin-bottom: 25px;
} 

}


    









